<div class="container">
  <div class="row">
    <h4>管理者に依頼を行いました！</h4>
    <%= link_to "トップページ", root_path, class: "btn btn-primary" %>
    <%= link_to "マイページ", customer_path, class: "btn btn-primary" %>
  </div>
</div>