<div class="container">
  <div class="row mt-5">
    <h3 class="sub-title"><%= @customer.name %>さんの会員編集</h3>
  </div>
  <%= form_with model: @customer, url: customer_path(@customer),  method: :patch do |f| %>
    <% render "admin/customers/form", customer: @customer, f: f %>
  <% end %>  
</div>
<%= render "public/artists/loadimage" %>