<div class="container">
  <div class="row">
    <h4>追会依頼ページ</h4>
  </div>
  <div class="row">
    <div class="col-6">
      <h5>アーティストの追加依頼</h5>
      <%= link_to "アーティスト追加依頼", new_artist_path, class: "btn btn-primary" %>
    </div>
    <div class="col-6">
      <h5>ライブ追加依頼</h5>
      <%= link_to "ライブ追加依頼", new_live_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>