<div class="container">
  <div class="row mt-5 pt-5 text-center">
    <div class="col-lg-6 my-1">
      <h5 class="sub-title w-auto">アーティストの追加依頼</h5><br>
      <%= link_to "依頼する︎", new_artist_path, class: "default-btn bg-primary p-2 w-auto mt-1" %>
    </div>
    <div class="col-lg-6 my-1">
      <h5 class="sub-title w-auto">ライブ追加依頼</h5><br>
      <%= link_to "依頼する", new_live_path, class: "default-btn bg-primary p-2 w-auto mt-1" %>
    </div>
  </div>
</div>