<div class="container">
  <div class="row mt-5 pt-5 text-center">
    <div class="col-6">
      <h5 class="col-7 sub-title mx-auto">アーティストの追加依頼</h5><br>
      <%= link_to "アーティスト追加依頼", new_artist_path, class: "btn btn-primary" %>
    </div>
    <div class="col-6">
      <h5 class="col-7 sub-title mx-auto">ライブ追加依頼</h5><br>
      <%= link_to "ライブ追加依頼", new_live_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>