<% if resource.errors.any? %>
  <div id="error_explanation" class="error-messages">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li>・<%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
