<div class="container">
  <div class="row mt-5">
    <h3 class="main-title"><%= @live.name %></h3>
  </div>
  <%= form_with model: @live, url: admin_live_path(@live), method: :patch do |f| %>
    <%= render "admin/lives/form", f: f, live: @live %>
  <% end %>
</div>