<div class="container">
  <div class="row mt-5">
    <h2 class="main-title"><%= @live_house.name %></h2>
  </div>
  <%= form_with model: @live_house, url: admin_live_house_path, method: :patch do |f| %>
    <%= render "form", f: f, live_house: @live_house %>
  <% end %>
</div>