<%= search_form_for q, url: admin_customers_path, class: "mb-1" do |f| %>
  <div class="form-group my-auto d-flex">
    <%= f.search_field :name_cont, class: "form-control" %>
    <%= f.submit class: 'btn btn-outline-primary ml-1' %>
  </div>
<% end %>