<div class="container">
  <div class="row mt-5">
    <h3 class="main-title"><%= @artist.name %></h3>
  </div>
  <%= form_with model: @artist, url: admin_artist_path, method: :patch do |f| %>
    <%= render "admin/artists/form", f: f , artist: @artist %>
  <% end %>
</div>
