<div class="container">
  <div class="row mt-3">
    <div class="col-12">
      <h3 class="sub-title">アーティスト一覧</h3>
      <%= link_to "＋", new_admin_artist_path, class: "float-right" %>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table text-center">
        <thead>
          <tr>
            <th style="width: 15%"></th>
            <th style="width: 65%">名前</th>
            <th style="width: 20%">会員ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @artists.each do |artist| %>
            <tr>
              <td style="width: 15%" class="align-middle"><%= image_tag artist.get_artist_image(50,50) %></td>
              <td style="width: 65%" class="align-middle"><%= link_to artist.name, admin_artist_path(artist) %></td>
              <td style="width: 20%" class="align-middle"><%= artist.status_i18n %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>