<div class="container">
  <div class="row">
    <div class="col-12 mt-3">
      <h5>アーティスト追加依頼</h5>
      <p>後ほど</p>
    </div>
  </div>
  <div class="row">
    <dev class="col-12 my-3">
      <h5>ライブ追加依頼</h5>
      <p>後ほど</p>
    </dev>
  </div>
</div>