<div class="container">
  <% if customer_signed_in? %>
    <div class="row mt-5">
      <div class="col-12 mt-3">
        あなたの現在のお気に入りジャンル・・・<br>
        <% current_customer.favorite_genres.each do |favorite_genre| %>
          <%= link_to favorite_genre.genre.name, genre_favorite_genres_path(favorite_genre.genre), method: :delete, class: "default-btn bg-warning p-2 w-auto text-dark", data: {confirm: "削除しますか？"} %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="row my-5">
    <div class="col-12">
      <h4 class="sub-title">ジャンル一覧</h4><br>
      <% @genres.each do |genre| %>
        <% if customer_signed_in? %>
          <% if genre.favorited_by?(current_customer) %>
            <%= link_to genre.name, "#", class: "default-btn bg-warning p-2 w-auto text-dark", data: {confirm: "追加済みです！"} %>
          <% else %>
            <%= link_to genre.name, genre_favorite_genres_path(genre), method: :post, class: "default-btn bg-warning p-2 w-auto text-dark", data: {confirm: "追加しますか？"} %>
          <% end %>
        <% else %>
          <%= link_to genre.name, "#", class: "default-btn bg-warning p-2 w-auto text-dark" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>