<div class="container">
  <div class="row mt-5">
    <div class="col-12 mt-3">
      あなたの現在のお気に入りジャンル・・・<br>
      <% current_customer.favorite_genres.each do |favorite_genre|%>
        <%= link_to favorite_genre.genre.name, genre_favorite_genres_path(favorite_genre.genre), method: :delete, class: "btn btn-warning", data: {confirm: "削除しますか？"} %>
      <% end %>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-12">
      <h4>ジャンル一覧</h4>
      <% @genres.each do |genre| %>
        <%= link_to genre.name, genre_favorite_genres_path(genre), method: :post, class: "btn btn-warning", data: {confirm: "追加しますか？"} %>
      <% end %>
    </div>
  </div>
</div>