<div class="container">
  <div class="row mt-3">
    <div class="col-12">
      <h3 class="float-left">ライブハウス一覧</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table text-center">
        <thead>
          <tr>
            <th style="width: 15%"></th>
            <th style="width: 85%">ライブハウス</th>
          </tr>
        </thead>
        <tbody>
          <% @live_houses.each do |live_house| %>
            <tr>
              <td style="width: 15%" class="align-middle"><%= image_tag live_house.get_house_image(50,50) %></td>
              <td style="width: 85%" class="align-middle"><%= link_to live_house.name, live_house_path(live_house) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>