@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import "select2/dist/css/select2.min.css";

.table-scroll{
  tbody {
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 200px;
  }
  td{
    width: 100%;
  }
}
