@media screen and (max-width: 1185px) {
  .table-responsive{
    table{
      width: 1000px;
    }
  }
  .slick img {
    width: 100%;
    height: 50vw;
    object-fit: cover;
  }
}

#preview{
  img{
    width : 100%;
  }
}


@media screen and (min-width: 1186px) {
  .slick-slide img {
    width: auto; /* 変更 */
    height: 100%; /* 変更 */
  }
  .slick-track{ /* 追加 */
    height: 50vh;
  }
}