.error-messages {
  background-color: #ffccccd1;
  >ul {
    padding: 20px 0 20px 5px;
    >li {
      list-style: none;
    }
  }
}

#map {
  height: 200px;
  width: 100%;
}

// テーブルスクロール
.comment-list, .live-list, .favorite-list, .bookmark-list, .artist-list{
  table {
    width: 100%;
    border-spacing: 0;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1);
  }
  tbody, tr, th, td {
    display: block;
  }
  tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
  }
  tbody {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  tbody td{
    float: left;
  }
}
@media screen and (max-width: 1185px) {
  .comment-list{
    table{
      width: 1000px;
    }
  }
  .report-text{
    font-size: 13px;
  }
}

@media screen and (max-width: 1185px) {
  .table-responsive{
    table{
      width: 1000px;
    }
  }
  .slick img {
    width: 100%;
    height: 50vw;
    object-fit: cover;
  }
}

#preview{
  img{
    width : 100%;
  }
}


@media screen and (min-width: 1186px) {
  .slick-slide img {
    width: auto; /* 変更 */
    height: 100%; /* 変更 */
  }
  .slick-track{ /* 追加 */
    height: 50vh;
  }
}