.navbar{
  width: 100%;
}

.nav-item{
  margin: 0 5px;
}

img.logo {
  width: 120%;
  height: auto;
}

.nav_menu_li{
  a{
    display: inline-block;
    padding: 0.1em 0.5em;
    color: black;
    letter-spacing: .05em;
    font-weight: 900;
    font-size: 20px;
  }
}

/* PCでは非表示にしておく */
.nav_toggle,
.nav {
  display: none;
}

/* スマホサイズで見た場合のスタイル */
@media screen and (max-width: 1240px) {
  // 通常のメニュー表示しない
  #navmenu{
    display: none!important;
  }
/* ハンバーガーのマーク */
  .nav_toggle {
    display: block;
    position: relative;
    width: 1.75rem;
    height: 1.5rem;
    margin-right: 10px;
    z-index: 2;
  }
  .nav_toggle i {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    position: absolute;
    transition: transform 0.5s, opacity 0.5s;
  }
  .nav_toggle i:nth-child(1) {
    top: 0;
  }
  .nav_toggle i:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .nav_toggle i:nth-child(3) {
    bottom: 0;
  }

  /* クリックされた後のハンバーガーのマーク */
  .nav_toggle.show i:nth-child(1) {
    transform: translateY(10px) rotate(-45deg);
  }
  .nav_toggle.show i:nth-child(2) {
    opacity: 0;
  }
  .nav_toggle.show i:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
  }

  /* クリックで表示されるメニュー：クリックされる前 */
  .nav {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    background-color: #fff;
    z-index: 1;
  }
  .nav_menu_ul{
    padding-left: 0px;
    margin-top: 100px;
  }
  .nav_menu_li {
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
    text-align: center;
    border-bottom: 2px solid #3333336e;
  }
  .top-menu-li{
    border-top: 2px solid #3333336e;
  }

  /* クリックで表示されるメニュー：クリックされた後 */
  .nav.show {
    opacity: 0.9;
    visibility: visible;
    display: block;
  }
}

@media screen and (max-width: 1240px) {
  #default-navmenu{
    display: none!important;
  }
}

