.sub-title{
  // display: inline-block;
  // padding: 0.5rem 1rem;
  // border-left: 5px solid #000;
  // background: #f4f4f4;
  // box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  font-weight: 600;
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #fff;
  background: black;
  -webkit-box-shadow: 5px 5px 0 #afafaf;
  box-shadow: 5px 5px 0 #afafaf;  
  
  @media (max-width: 1199px) {
    font-size: 20px;
  }
  @media (max-width: 767px) {
    font-size: 15px;
  }
}

.main-title {
  display: block;
  padding: 4px 6px;
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
  color: #fff;
  background: black;
  font-weight: 800;
  letter-spacing: 0.12em;
}

.mini-title{
  display: inline-block;
  padding: 0.1em 0.5em;
  background: #666;
  color: #fff;
  letter-spacing: .05em;
  font-weight: 900;
}
