.sub-title{
  font-weight: 600;
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #fff;
  background: black;

  @media (max-width: 1199px) {
    font-size: 20px;
  }
  @media (max-width: 767px) {
    font-size: 15px;
  }
}

.main-title {
  display: block;
  padding: 4px 6px;
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
  color: #fff;
  background: black;
  font-weight: 800;
  letter-spacing: 0.12em;
  margin-left: 10px;
}

.mini-title{
  display: inline-block;
  padding: 0.1em 0.5em;
  background: #666;
  color: #fff;
  letter-spacing: .05em;
  font-weight: 900;
}
