.sub-title{
  display: inline-block;
  padding: 1rem 2rem;
  border-left: 5px solid #000;
  background: #f4f4f4;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  font-weight: 600;
}

.main-title {
  display: inline-block;
  padding: 1rem 3rem;
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
  color: #fff;
  background: black;
  font-weight: 800;
  letter-spacing: 0.12em;
}

.mini-title{
  display: inline-block;
  padding: 0.1em 0.5em;
  background: #666;
  color: #fff;
  letter-spacing: .05em;
  font-weight: 900;
}
