<div class="container">
  <div class="row mt-5">
    <h1 class="main-title"><%= @live.name %></h1>
  </div>
  <%= form_with model: @report, url: reports_path(live_id: @live.id), method: :post do |f| %>
    <%= render "form", f: f, report: @report, live: @live %>
  <% end %>
</div>